@font-face 
{
	font-family:late;
	src:url(styles/fonts/Lato-LigIta.ttf);
}
/* 

Section one

*/

*
{
	margin:0;
	padding:0;
	font-family:late;
}

 a
{
	text-decoration:none;
}

.wrap
{
	max-width:1350px;
	margin:0 auto;
}

.sectionOne
{
	min-height:550px;
	background-image:url(images/banner.jpg);
	padding-top:70px;
	position:relative;
	padding-bottom:25px;
	box-sizing:border-box;
}

.sectionOne .header
{
	min-height:60px;
	background-color:RGBA(20, 20, 20, 0.8);
	display:flex;
	flex-wrap:wrap;
	text-align:center;
}

.sectionOne .logo
{
	margin-left:7%;
	flex-grow:1;
}

.sectionOne ul
{
	flex-grow:2;
	flex-basis:600px;
	display:flex;
}

@media screen and (max-width:600px)
{
		.sectionOne ul
	{
		flex-direction:column;
	}
}

.sectionOne ul li
{
	display:inline-block;
	flex-grow:1;
	text-align:center;
	justify-content:space-between;
}

.sectionOne li:hover
{
	border-bottom:3px solid orange;
}

.sectionOne li a
{
	color:white;
	display:block;
	height:100%;
	padding-top:20px;
	padding-bottom:19px;
	transition:border-bottom 1s;
	box-sizing:border-box;
}

.sectionOne .wraper
{
	width:400px;
	margin-left:7%;
	margin-top:50px;
	text-align:justify;
}

.sectionOne .wraper span
{
	color:MediumVioletRed;
}

.sectionOne .wraper p
{
	margin-top:30px;
	margin-bottom:30px;
}

.sectionOne .button
{
	border:1px solid gold;
	border-left:3px solid gold;
	display:inline-block;
	padding:5px 10px;
	color:black;
}

.sectionOne .circleButton
{
	display:inline-block;
	width:7px;
	height:7px;
	border-radius:50%;
	border:1px solid gray;
}

.sectionOne .circleButton:hover
{
	background-color:gray;
}

.sectionOne .navigation
{
	position:absolute;
	bottom:15px;
	margin-left:7%;
}

/* 

Section two

*/

.sectionTwo
{
	padding-top:75px;
	background-color:DarkSalmon;
	min-height:550px;
	text-align:center;
}

.sectionTwo .wraper
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.sectionTwo h2
{
	color:Maroon;
	margin-bottom: 2.5%;
	font-weight:normal;
}

.sectionTwo span
{
	font-weight:bolder;
}

.sectionTwo .item
{
	margin:0 2.5%;
	color:white;
	flex-grow:1;
	flex-basis:260px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.container p
{
	margin-top:8%;
}

.sectionTwo figure
{
	background-color:IndianRed;
	height:150px;
	width:150px;
	border-radius:50%;
	margin:0 auto;
	border:2px solid transparent;
}

.sectionTwo figure:hover
{
	border:2px solid Maroon;
	color:Maroon;
	transition:border-color 2s;
}



/*@media screen and (max-width:1000px) and (min-width:600px)
{
	.sectionTwo .item
	{
		width:45%;
	}
}

@media screen and (max-width:600px) and (min-width:300px)
{
	.sectionTwo .item
	{
		width:90%;
	}
}*/

.sectionTwo .button
{
	border:1px solid Maroon;
	border-left:3px solid Maroon;
	display:inline-block;
	padding:5px 10px;
	color:white;
	margin-top:10%;
	margin-bottom:20%;
}

/* 

Section three

*/

.sectionThree
{
	padding-top:75px;
	background-color:GhostWhite;
	min-height:550px;
	text-align:center;
	padding-bottom:3%;
}

.sectionThree .navigation
{
	display:flex;
	flex-direction:row;
}

.sectionThree h2
{
	color:Maroon;
	margin-bottom: 2.5%;
	font-weight:normal;
	flex-grow:20;
}

.sectionThree .squareButton
{
	width:20px;
	height:20px;
	border:1px solid gold;
	margin-right:1%;
	flex-grow:0.3;
}

.sectionThree span
{
	font-weight:bolder;
}

.sectionThree .wraper
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	max-width:1600px;
	justify-content:center;
}

.sectionThree .item
{
	flex-grow:1;
	max-width:335px;
}

.sectionThree .item img
{
	display:block;
}

/* 

Section Four

*/

.sectionFour
{
	padding-top:75px;
	background-color:white;
	min-height:550px;
	text-align:center;
	padding-bottom:3%;
}

.sectionFour h2
{
	color:gold;
	font-weight:normal;
}

.sectionFour span
{
	font-weight:bolder;
}

.sectionFour .wraper
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.sectionFour .item
{
	margin:0 2.5%;
	color:gray;
	flex-grow:1;
	flex-basis:250px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin-top:5%;
}

.container p
{
	margin-top:10%;
}

.sectionFour figure
{
	height:350px;
	width:370px;
	margin:0 auto;
	margin-bottom:-10%;
}

.sectionFour figcaption
{
	color:Purple;
	font-size:smaller;
}

.sectionFour .wraper .item .container .avatar
{
	position:relative;
	border-radius:50%;
	margin-top:-10%;
}

/* 

Section Five

*/

.sectionFive
{
	padding-top:75px;
	background-image: url(images/map.jpg);
	min-height:550px;
	text-align:center;
}

.sectionFive h2
{
	color:gold;
	margin-top:7%;
}

.sectionFive p
{
	font-size:smaller;
	margin-top:2%;
}

.sectionFive form
{
	margin-left:35%;
	margin-top:10%;
}

.sectionFive fieldset
{
	width:400px;
	height:400px;
	background-color:DarkSalmon;
	color:white;
	border:solid DarkSalmon;
}

.sectionFive textarea
{
	margin-top:5%;
}

.sectionFive .input
{
	margin-top:5%;
	height:8%;
	width:42%;
}

.sectionFive .footer
{
	height:100%;
	background-color:DimGray;
	margin-bottom:0;
	padding-left:35%;
	text-align:center;
}

.sectionFive ul
{
	flex-basis:300px;
	display:flex;
	width:40%;
}

.sectionFive ul li
{
	display:inline-block;
	flex-grow:1;
	text-align:center;
	justify-content:space-between;
}

.sectionFive li:hover
{
	border-bottom:3px solid orange;
}

.sectionFive li a
{
	color:white;
	display:block;
	height:100%;
	padding-top:10px;
	padding-bottom:10px;
	transition:border-bottom 1s;
	box-sizing:border-box;
}

.sectionFive .line
{
	height:1px;
	background-color:gray;
}

.sectionFive .signFooter
{
	height:100%;
	background-color:DimGray;
	margin-bottom:0;
	color:white;
	text-align:center;
	padding:0.8%;
}